# MongoDB Atlas Connection
MONGO_URI=mongodb+srv://<user>:<password>@cnlthd.ijxnmqz.mongodb.net/?appName=CNLTHD

# Kafka
KAFKA_BROKER=kafka:9092

# Service Ports
ORDER_SERVICE_PORT=3001
INVENTORY_SERVICE_PORT=3002
FRONTEND_PORT=3000

# Docker Hub Configuration
DOCKER_HUB_USERNAME=your_username
